[submodule "tools"]
	path = tools
	url = https://github.com/tqmane/vyline-search.git
[submodule "Vyline/packages/protocol"]
	path = Vyline/packages/protocol
	url = https://github.com/tqmane/vyline-api.git
[submodule "Vyline/packages/plugin"]
	path = Vyline/packages/plugin
	url = https://github.com/tqmane/vyline-plugin.git
[submodule "Vyline/packages/themes"]
	path = Vyline/packages/themes
	url = https://github.com/tqmane/vyline-theme.git
